@{
    ViewBag.Title = "ListApplyJobs";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h4 id="ListName"><strong>Danh sách ứng tuyển công việc</strong></h4>
<div id="gridApplyJobs"></div>

<div id="detailsDialog">
    <div id="detailsForm" novalidate="novalidate" class="detailsForm">
        <input id="ID" name="ID" type="hidden">
        <div class="details-form-field">
            <label for="FullName"><strong>Full Name:</strong></label>
            <input class="form-control FullName" id="FullName" name="FullName" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="Email"><strong>Email:</strong></label>
            <input class="form-control Email" id="Email" name="Email" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="Phone"><strong>Phone:</strong></label>
            <input class="form-control Phone" id="Phone" name="Phone" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="CurrentCompany"><strong>Current Company:</strong></label>
            <input class="form-control CurrentCompany" id="CurrentCompany" name="CurrentCompany" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="LinkedInURL"><strong>LinkedIn URL:</strong></label>
            <input class="form-control LinkedInURL" id="LinkedInURL" name="LinkedInURL" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="TwitterURL"><strong>Twitter URL:</strong></label>
            <input class="form-control TwitterURL" id="TwitterURL" name="TwitterURL" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="GithubURL"><strong>Github URL:</strong></label>
            <input class="form-control GithubURL" id="GithubURL" name="GithubURL" type="text" readonly>
        </div>
        <div class="details-form-field">
            <label for="PortfolioURL"><strong>Portfolio URL:</strong></label>
            <input class="form-control PortfolioURL" id="PortfolioURL" name="PortfolioURL" readonly>
        </div>
        <div class="details-form-field">
            <label for="Otherwebsite"><strong>Other website:</strong></label>
            <input class="form-control Otherwebsite" id="Otherwebsite" name="Otherwebsite" readonly>
        </div>
        <div class="details-form-field">
            <label for="More"><strong>More:</strong></label>
            <textarea class="form-control More" id="More" name="More" readonly></textarea>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/AdminScript/listApplyJobs.js"></script>
}