@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<script>
    var verifyCallback = function (response) {
        $("#btnSendEmail").prop('disabled', false)
    };

    var onloadCallback = function (e) {
        grecaptcha.render('g-recaptcha', {
            'sitekey': '6LdW0eMZAAAAAA_ChuxSBzEkchiA_POWCU2PATfC',
            'callback': verifyCallback,
            'theme': 'dark'
        });
    };
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
@using (Html.BeginForm("SendEmail", "Account", FormMethod.Post))
{
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-55">
                        Thay đổi mật khẩu
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100 Email" type="text" name="Email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-envelope"></span>
                        </span>
                    </div>

                    @* Captcha *@
                    <div class="form-group input-group" id="g-recaptcha"></div>
                    @* Message *@
                    <div id="Message">@ViewBag.Message</div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn" type="submit">
                            Gửi Mail
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}