@{
    ViewBag.Title = "About";
}
@using WebGame.Models;
<title>About Us | Lion Studios</title>
<link href="~/Content/style-about.css" rel="stylesheet" />

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top:150px; width:800px">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom:0 !important">
                <img src="~/Content/Image/lionstudiospoplogo.png" style="width: 190px; text-align: center; margin-left: 30%; margin-right:30%" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="font-size:28px; margin-top: -1%; margin-right: 1%">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="z-index: 2">
                <form>
                    <div class="col-sm-6" style="float: left">
                        <div>
                            <label>Full Name</label>
                            <input class="form-control FullName" type="text" required onchange="changeName()" />
                        </div>
                        <div>
                            <label>Your Email</label>
                            <input class="form-control Email" type="text" required onchange="changeEmail()" />
                        </div>
                        <div>
                            <label>Game Title(s)</label>
                            <input class="form-control GameTitle" type="text" required onchange="changeGameTitle()" />
                        </div>
                        <div>
                            <label>Video Footage Links</label>
                            <textarea class="form-control FootageLink"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6" style="float: right">
                        <div>
                            <label>Company Name</label>
                            <input class="form-control CompanyName" type="text" required onchange="changeCompanyName()" />
                        </div>
                        <div>
                            <label>Country</label>
                            <input class="form-control Country" type="text" />
                        </div>
                        <div>
                            <label>Link To Your App Store Account/Game URL</label>
                            <input class="form-control LinkStore" type="text" required onchange="changeGameURL()" />
                        </div>
                        <div>
                            <label>Tell Us More About Your Team And Game(s)</label>
                            <textarea class="form-control MoreAbout" onchange="changeMore()"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-9 col-md-8" id="g-recaptcha" style="margin-top:10px; margin-left: 210px"></div>
                </form>
            </div>
            <div class="modal-footer" style="border-top: 0 !important">
                <button type="button" id="gameSubmit" class="btn btn-primary" style="margin: auto; display: block" disabled>Submit</button>
            </div>
        </div>
    </div>
</div>



<div class="about-page">
    <div class="hero video-bg">
        <video class="intro-panel-video" id="intro-panel-video" autoplay="" muted="" loop="" playsinline="">
            <script>
                if (jQuery(window).width() <= 640) {
                    document.write('<source src="/Content/Video/about-header-video-7-20-mobile-web.mp4" type="video/mp4" type="video/mp4"> ');
                } else if (jQuery(window).width() <= 768) {
                    document.write('<source src="/Content/Video/about-header-video-7-20-medium-web.mp4" type="video/mp4" type="video/mp4">');
                } else {
                    document.write('<source src="/Content/Video/about-header-video-7-20-web.mp4" type="video/mp4">');
                };
            </script>
            <source src="/Content/Video/about-header-video-7-20-web.mp4" type="video/mp4">
        </video>
        <div class="inner-wrap">
            <div class="hero-intro">
                <h1>
                    About Us
                </h1>
                <h2>
                    We turn mobile games into chart-topping hits.
                </h2>
            </div>
        </div>
        <img class="wedge-mask-hero-bottom" src="~/Content/Image/wedge-mask-hero-bottom-white.svg" alt="">
    </div>
    <div class="row about-lion">
        <div class="inner-wrap">
            <div>
                <h2 data-scroll="offset(0,200px) once" class="visible">
                    Lion Studios is a mobile games publishing studio based in San Francisco, California with offices across the globe. <span class="red">Our mission is to publish fun, entertaining games</span> that are played by people all over the&nbsp;world.
                </h2>
                <p data-scroll="offset(0,200px) once" class="visible">
                    Our team of gamers, designers, developers, and analysts partner with you through every step of the game development&nbsp;process.
                </p>
            </div>
        </div>
    </div>
    <div class="row about-photo-break fixedbg">
    </div>
    <div class="row about-help">
        <div class="inner-wrap">
            <h2>
                How we help developers like&nbsp;you
            </h2>
            <div class="help-pod-wrapper">
                <div class="div1">
                    <img class="help-pod-icon visible" src="~/Content/Image/icon-about-people.svg" data-scroll="offset(0,200px) once" alt="people icon">
                    <h3>
                        Experienced and passionate team
                    </h3>
                    <p>
                        Get strategic advice from our experts on how to grow your&nbsp;game.
                    </p>
                </div>
                <div class="div2">
                    <img class="help-pod-icon visible" src="~/Content/Image/icon-about-devices.svg" data-scroll="offset(0,225px) once" alt="devices icon">
                    <h3>
                        Space to test and strategically iterate your mobile&nbsp;game
                    </h3>
                    <p>
                        We partner with you to try out new creative ads and monetization strategies, constantly looking for better iterations.
                    </p>
                </div>
                <div class="div3">
                    <img class="help-pod-icon visible" src="~/Content/Image/icon-about-tap.svg" data-scroll="offset(0,250px) once" alt="phone tap icon">
                    <h3>
                        Continued access to all our resources
                    </h3>
                    <p>
                        You’ll not only get access to AppLovin’s mobile gaming experts, but AppLovin’s suite of online developer tools to improve and market your&nbsp;game.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-values">
        <div class="inner-wrap">
            <div class="values-pods-parent">
                <div class="div1">
                    <h2>
                        Our Beliefs &amp;&nbsp;Values
                    </h2>
                </div>
                <div class="div2">
                    <p>
                        Here at Lion Studios, we’re a tight-knit team of innovators, doers, and leaders. We value hard work, and great ideas — join us and create your mobile gaming legacy!
                    </p>
                </div>
                <div class="div3 values-capsules">
                    <h3>
                        Honesty
                    </h3>
                    <p>
                        We’re direct, respectful, and build trust within our team.
                    </p>
                    <h3>
                        Courage
                    </h3>
                    <p>
                        We empower our team to take smart risks so we can move quickly and create better games.
                    </p>
                    <h3>
                        Passion
                    </h3>
                    <p>
                        We inspire others with our hunger for excellence and care intensely about success.
                    </p>
                    <h3>
                        Teamwork
                    </h3>
                    <p>
                        We always support each other and constantly improve through open and proactive communication.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row about-photostrip fixedbg">
    </div>
    @*  *@
    @*Our Story*@
    @*  *@
    <div class="row about-our-story" id="our-story-row">
        <div class="inner-wrap">
            <h2>
                Our Story
            </h2>
            <div id="our-story-wrap">
                @{ var dataListStory = ViewBag.DataListStory as List<OurStoryAboutPage>; }
                @foreach (var story in dataListStory)
                {
                    <div class="our-story-slide">
                        <picture>
                            <source srcset="@Url.Action("ViewImageStory2", "Home", new { @id = story.ID })" media="(max-width: 640px)">
                            <img src="@Url.Action("ViewImageStory1", "Home", new { @id = story.ID })" class="" alt="">
                        </picture>
                        <p>
                            @Html.Raw(System.Uri.UnescapeDataString(story.Title))
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>


    <div class="row about-hiring">
        <div class="inner-wrap">
            <h2>
                <span class="highlight">We’re<br>Hiring</span>
            </h2>
            <a href="@Url.Action("Jobs","Home")" class="jobs-link">Apply Here</a>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
@section scripts{
    <script>
        var reCaptchaResponse = null;
        isValid = false;
        function verifyCallback(response) {
            isValid = false;
            if (response != null) {
                isValid = true;
                reCaptchaResponse = response;
            }
            validation();
        };

        function changeName() {
            validation();
        }

        function changeEmail() {
            validation();
        }

        function changeGameTitle() {
            validation();
        }

        function changeCompanyName() {
            validation();
        }

        function changeGameURL() {
            validation();
        }

        function changeMore() {
            validation();
        }

        var onloadCallback = function (e) {
            grecaptcha.render('g-recaptcha', {
                'sitekey': '6LfQtmwaAAAAAELVUp_-u9pLQMmQfI4wnt7jQ1eh',
                'callback': verifyCallback,
                'theme': 'dark',
                'expired-callback': expCallback
            });
        };

        var expCallback = function () {
            //grecaptcha.reset();
            isValid = false;
        };

        function validation() {
            var name = $('.FullName').val();
            var email = $('.Email').val();
            var gameTitle = $('.GameTitle').val();
            var companyName = $('.CompanyName').val();
            var gameURL = $('.LinkStore').val();
            var moreAbout = $('.MoreAbout').val();
            if (name != null && name != "" &&
                email != null && email != "" &&
                gameTitle != null && gameTitle != "" &&
                companyName != null && companyName != "" &&
                gameURL != null && gameURL != "" &&
                moreAbout != null && moreAbout != "" &&
                isValid == true) {
                $("#gameSubmit").prop('disabled', false)
            } else {
                $("#gameSubmit").prop('disabled', true)
            }
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#our-story-wrap').slick({
                centerMode: true,
                centerPadding: '0',
                slidesToShow: 3,
                slidesToScroll: 1,
                swipeToSlide: true,
                touchThreshold: 20,
                arrows: true,
                infinite: false,
                responsive: [{
                    breakpoint: 640,
                    settings: {
                        centerMode: false,
                        slidesToShow: 1
                    }
                }]
            });

            $('#our-story-wrap').on('beforeChange', function (event, slick, currentSlide, nextSlide) {

                var slideto = nextSlide + 1;
                var sliderow = document.getElementById('our-story-row');

                switch (slideto) {
                    case 1:
                        sliderow.style.backgroundColor = "#e3a927";
                        break;
                    case 2:
                        sliderow.style.backgroundColor = "#3db5a8";
                        break;
                    case 3:
                        sliderow.style.backgroundColor = "#f0658b";
                        break;
                    case 4:
                        sliderow.style.backgroundColor = "#eb3945";
                        break;
                    case 5:
                        sliderow.style.backgroundColor = "#222222";
                        break;
                    case 6:
                        sliderow.style.backgroundColor = "#e7266a";
                        break;
                    case 7:
                        sliderow.style.backgroundColor = "#773897";
                        break;
                    case 8:
                        sliderow.style.backgroundColor = "#144da1";
                        break;
                    default:
                        sliderow.style.backgroundColor = "#e3a927";
                }

            });
        });
    </script>
    <script src="~/Scripts/gameSubmit.js"></script>
}