@{
    ViewBag.Title = "Contact";
}
@using WebGame.Models;
<link href="~/Content/style-pages-forms.css" rel="stylesheet" />
<div class="form-page contact-form">
    <div class="hero minimal-height">
        <div class="inner-wrap">
            <div class="hero-intro">
                <h1>
                    Contact Us
                </h1>
            </div>
        </div>
        <img class="wedge-mask-hero-bottom" src="~/Content/Image/wedge-mask-hero-bottom-light-gray.svg" alt="">
    </div>
    <div class="form-panel-outer">
        <div class="form-panel-inner">
            <div class="form-title-wrap">
                <h2>
                    We’d love to hear from&nbsp;you.
                </h2>
                <p>
                    For general inquiries, fill out the form below and we’ll get back with you&nbsp;shortly.
                </p>
            </div>
            <noscript class="ninja-forms-noscript-message">
                Notice: JavaScript is required for this content.
            </noscript><div id="nf-form-1-cont" class="nf-form-cont form-wrapper" aria-live="polite" aria-labelledby="nf-form-title-1" aria-describedby="nf-form-errors-1" role="form">
                <span id="nf-form-title-1" class="nf-form-title">

                </span>
                <div class="nf-form-wrap ninja-forms-form-wrap">
                    <div class="nf-response-msg"></div>
                    <div class="nf-debug-msg"></div>
                    <div class="nf-before-form">
                        <nf-section>

                        </nf-section>
                    </div>
                    <div class="nf-form-layout">
                        <form class="formContact">
                            <div>
                                <div class="nf-before-form-content">
                                    <nf-section>
                                        <div class="nf-form-fields-required">
                                            Fields marked with an
                                            <span class="ninja-forms-req-symbol">*</span> are required
                                        </div>
                                    </nf-section>
                                </div>
                                <div class="nf-form-content ">
                                    <nf-fields-wrap>
                                        <nf-field>
                                            <div id="nf-field-1-container" class="nf-field-container textbox-container  label-above ">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-1-wrap" class="field-wrap textbox-wrap" data-field-id="1">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-1" id="nf-label-field-1" class="">
                                                                Your Name
                                                                <span class="ninja-forms-req-symbol">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-name nf-element FullName" id="nf-field-1" name="nf-field-1" aria-invalid="false" aria-describedby="nf-error-1" aria-labelledby="nf-label-field-1" required="" onchange="changeName()">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-1" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="nf-field-2-container" class="nf-field-container email-container  label-above ">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-2-wrap" class="field-wrap email-wrap" data-field-id="2">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-2" id="nf-label-field-2" class="">
                                                                Your Email
                                                                <span class="ninja-forms-req-symbol">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="nf-field-element">
                                                            <input type="email" value="" class="ninja-forms-field form-email nf-element Email" id="nf-field-2" name="email" autocomplete="email" aria-invalid="false" aria-describedby="nf-error-2" aria-labelledby="nf-label-field-2" required="" onchange="changeEmail()">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-2" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="nf-field-41-container" class="nf-field-container textbox-container  label-above ">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-41-wrap" class="field-wrap textbox-wrap" data-field-id="41">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-41" id="nf-label-field-41" class="">
                                                                Subject
                                                                <span class="ninja-forms-req-symbol">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element Subject" id="nf-field-41" name="nf-field-41" aria-invalid="false" aria-describedby="nf-error-41" aria-labelledby="nf-label-field-41" required="" onchange="changeSubject()">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-41" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="nf-field-43-container" class="nf-field-container hr-container  label-hidden ">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-43-wrap" class="field-wrap hr-wrap" data-field-id="43">
                                                        <div class="nf-field-element">
                                                            <hr class="ninja-forms-field">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-43" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="nf-field-42-container" class="nf-field-container listselect-container  label-above  list-container">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-42-wrap" class="field-wrap listselect-wrap list-wrap list-select-wrap" data-field-id="42">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-42" id="nf-label-field-42" class="">
                                                                Is this regarding a Lion Studios game?
                                                                <span class="field-optional">(Optional)</span>
                                                            </label>
                                                        </div>
                                                        <div class="nf-field-element">
                                                            <select id="nf-field-42" name="nf-field-42" aria-invalid="false" aria-describedby="nf-error-42" class="ninja-forms-field form-select nf-element Optional" aria-labelledby="nf-label-field-42" onchange="changeOptional()">
                                                                <option value="bd" selected="selected">[General Inquiry]</option>
                                                                @{ var listGame = ViewBag.ListGame as List<List_Game>; }
                                                                @foreach (var game in listGame)
                                                                {
                                                                    <option value="@game.ID">@game.Name</option>
                                                                }
                                                            </select>
                                                            <div for="nf-field-42"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>

                                                        <div id="nf-error-42" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="nf-field-3-container" class="nf-field-container textarea-container  label-above ">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-3-wrap" class="field-wrap textarea-wrap" data-field-id="3">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-3" id="nf-label-field-3" class="">
                                                                Your Message
                                                                <span class="ninja-forms-req-symbol">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="nf-field-element">
                                                            <textarea id="nf-field-3" name="nf-field-3" aria-invalid="false" aria-describedby="nf-error-3" class="ninja-forms-field form-textfield nf-element Message" aria-labelledby="nf-label-field-3" required="" onchange="changeMessage()"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-3" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field><nf-field>
                                            <div id="g-recaptcha" class="g-recaptcha"></div>
                                            <div id="nf-field-4-container" class="nf-field-container submit-container  label-hidden  textbox-container">
                                                <div class="nf-before-field">
                                                    <nf-section>

                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-4-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="4">
                                                        <div class="nf-field-label"></div>
                                                        <div class="nf-field-element">
                                                            <input id="nf-field-4" class="ninja-forms-field form-button nf-element btnSubmit" type="button" value="Submit" disabled>
                                                        </div>
                                                        <div class="nf-error-wrap"></div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-4" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                    </nf-fields-wrap>
                                </div>
                                <div class="nf-after-form-content">
                                    <nf-section>

                                        <div id="nf-form-errors-1" class="nf-form-errors" role="alert"><nf-errors></nf-errors></div>
                                    </nf-section>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer></script>
@section scripts{
    <script>
        var reCaptchaResponse = null;
        isValid = false;
        function verifyCallback(response) {
            isValid = false;
            if (response != null) {
                isValid = true;
                reCaptchaResponse = response;
            }
            validation();
        };

        function changeName() {
            validation();
        }

        function changeEmail() {
            validation();
        }

        function changeSubject() {
            validation();
        }

        function changeOptional() {
            validation();
        }

        function changeMessage() {
            validation();
        }
        var onloadCallback = function (e) {
            grecaptcha.render('g-recaptcha', {
                'sitekey': '6LfQtmwaAAAAAELVUp_-u9pLQMmQfI4wnt7jQ1eh',
                'callback': verifyCallback,
                'theme': 'dark',
                'expired-callback': expCallback
            });
        };

        var expCallback = function () {
            //grecaptcha.reset();
            isValid = false;
        };

        function validation() {
            var name = $('.FullName').val();
            var email = $('.Email').val();
            var subject = $('.Subject').val();
            var optional = $('.Optional').val();
            var message = $('.Message').val();
            if (name != null && name != "" &&
                email != null && email != "" &&
                subject != null && subject != "" &&
                optional != null && optional != "" &&
                message != null && message != "" &&
                isValid == true) {
                $(".btnSubmit").prop('disabled', false)
            } else {
                $(".btnSubmit").prop('disabled', true)
            }
        }
    </script>
    <script src="~/Scripts/contact.js"></script>
}