@{
    ViewBag.Title = "GameSubmissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    input,
    textarea{
        float: left;
    }
</style>
<link href="~/Content/style-pages-forms.css" rel="stylesheet" />
<div class="form-page submission-form">
    <div class="hero minimal-height">
        <div class="inner-wrap">
            <div class="hero-intro">
                <h1>
                    Game Submissions
                </h1>
            </div>
        </div>
        <img class="wedge-mask-hero-bottom" src="~/Content/Image/wedge-mask-hero-bottom-light-gray.svg" alt="">
    </div>
    <div class="form-panel-outer">
        <div class="form-panel-inner">
            <div class="form-title-wrap">
                <h2>
                    Tell us about your&nbsp;game.
                </h2>
                <p>
                    Want your game to rocket to the top of the charts? We’d love to hear more about your game. Just fill out the form below to get&nbsp;started.
                </p>
            </div>
            <noscript class="ninja-forms-noscript-message">
                Notice: JavaScript is required for this content.
            </noscript>
            <div id="nf-form-18-cont" class="nf-form-cont form-wrapper" aria-live="polite" aria-labelledby="nf-form-title-18" aria-describedby="nf-form-errors-18" role="form">
                <span id="nf-form-title-18" class="nf-form-title">
                </span>
                <div class="nf-form-wrap ninja-forms-form-wrap">
                    <div class="nf-response-msg"></div>
                    <div class="nf-debug-msg"></div>
                    <div class="nf-before-form">
                        <nf-section>
                        </nf-section>
                    </div>
                    <div class="nf-form-layout">
                        <form>
                            <div>
                                <div class="nf-before-form-content">
                                    <nf-section>
                                        <div class="nf-form-fields-required">Fields marked with an <span class="ninja-forms-req-symbol">*</span> are required</div>
                                    </nf-section>
                                </div>
                                <div class="nf-form-content ">
                                    <nf-fields-wrap>
                                        <nf-field>
                                            <div id="nf-field-194-container" class="nf-field-container textbox-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-194-wrap" class="field-wrap textbox-wrap" data-field-id="194">
                                                        <div class="nf-field-label">
                                                            <label for="nf-field-194" id="nf-label-field-194" class="">
                                                                Full Name
                                                                <span class="ninja-forms-req-symbol">*</span>
                                                            </label>
                                                        </div>
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-194" name="nf-field-194" aria-invalid="false" aria-describedby="nf-error-194" aria-labelledby="nf-label-field-194" required="">
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-194" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-195-container" class="nf-field-container textbox-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-195-wrap" class="field-wrap textbox-wrap" data-field-id="195">
                                                        <div class="nf-field-label"><label for="nf-field-195" id="nf-label-field-195" class="">Company Name (or Self-Employed) <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-195" name="nf-field-195" aria-invalid="false" aria-describedby="nf-error-195" aria-labelledby="nf-label-field-195" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-195" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-196-container" class="nf-field-container email-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-196-wrap" class="field-wrap email-wrap" data-field-id="196">
                                                        <div class="nf-field-label"><label for="nf-field-196" id="nf-label-field-196" class="">Your Email <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="email" value="" class="ninja-forms-field form-email nf-element" id="nf-field-196" name="email" autocomplete="email" aria-invalid="false" aria-describedby="nf-error-196" aria-labelledby="nf-label-field-196" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-196" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-197-container" class="nf-field-container textbox-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-197-wrap" class="field-wrap textbox-wrap" data-field-id="197">
                                                        <div class="nf-field-label"><label for="nf-field-197" id="nf-label-field-197" class="">Country <span class="field-optional">(Optional)</span>  </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-197" name="nf-field-197" aria-invalid="false" aria-describedby="nf-error-197" aria-labelledby="nf-label-field-197">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-197" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-198-container" class="nf-field-container textbox-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-198-wrap" class="field-wrap textbox-wrap" data-field-id="198">
                                                        <div class="nf-field-label"><label for="nf-field-198" id="nf-label-field-198" class="">Game Title(s) <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-198" name="nf-field-198" aria-invalid="false" aria-describedby="nf-error-198" aria-labelledby="nf-label-field-198" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-198" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-199-container" class="nf-field-container textbox-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-199-wrap" class="field-wrap textbox-wrap" data-field-id="199">
                                                        <div class="nf-field-label"><label for="nf-field-199" id="nf-label-field-199" class="">Link to Your App Store Account/Game URL <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-199" name="nf-field-199" aria-invalid="false" aria-describedby="nf-error-199" aria-labelledby="nf-label-field-199" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-199" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-200-container" class="nf-field-container textbox-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-200-wrap" class="field-wrap textbox-wrap" data-field-id="200">
                                                        <div class="nf-field-label"><label for="nf-field-200" id="nf-label-field-200" class="">Skype ID (Optional)  </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-200" name="nf-field-200" aria-invalid="false" aria-describedby="nf-error-200" aria-labelledby="nf-label-field-200">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-200" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-201-container" class="nf-field-container textbox-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-201-wrap" class="field-wrap textbox-wrap" data-field-id="201">
                                                        <div class="nf-field-label"><label for="nf-field-201" id="nf-label-field-201" class="">Previous Publishers (Optional)  </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-201" name="nf-field-201" aria-invalid="false" aria-describedby="nf-error-201" aria-labelledby="nf-label-field-201">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-201" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-202-container" class="nf-field-container textbox-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-202-wrap" class="field-wrap textbox-wrap" data-field-id="202">
                                                        <div class="nf-field-label"><label for="nf-field-202" id="nf-label-field-202" class="">Number of Employees <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-202" name="nf-field-202" aria-invalid="false" aria-describedby="nf-error-202" aria-labelledby="nf-label-field-202" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-202" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-203-container" class="nf-field-container textbox-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-203-wrap" class="field-wrap textbox-wrap" data-field-id="203">
                                                        <div class="nf-field-label"><label for="nf-field-203" id="nf-label-field-203" class="">Game Engine(s) You Use <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <input type="text" value="" class="ninja-forms-field form-text nf-element" id="nf-field-203" name="nf-field-203" aria-invalid="false" aria-describedby="nf-error-203" aria-labelledby="nf-label-field-203" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-203" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-204-container" class="nf-field-container textarea-container  label-hidden form-left ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-204-wrap" class="field-wrap textarea-wrap" data-field-id="204">
                                                        <div class="nf-field-label"><label for="nf-field-204" id="nf-label-field-204" class="">Video Footage Links  </label></div>
                                                        <div class="nf-field-element">
                                                            <textarea id="nf-field-204" name="nf-field-204" aria-invalid="false" aria-describedby="nf-error-204" class="ninja-forms-field form-textfield nf-element" aria-labelledby="nf-label-field-204"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-204" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-205-container" class="nf-field-container textarea-container  label-hidden form-right ">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-205-wrap" class="field-wrap textarea-wrap" data-field-id="205">
                                                        <div class="nf-field-label"><label for="nf-field-205" id="nf-label-field-205" class="">Tell Us More About Your Team and Game(s) <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <textarea id="nf-field-205" name="nf-field-205" aria-invalid="false" aria-describedby="nf-error-205" class="ninja-forms-field form-textfield nf-element" aria-labelledby="nf-label-field-205" required=""></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-205" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-206-container" class="nf-field-container listcheckbox-container  label-hidden terms-checkbox-wrap form-full  list-container">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-206-wrap" class="field-wrap listcheckbox-wrap list-wrap list-checkbox-wrap" data-field-id="206">
                                                        <div class="nf-field-label"><label for="nf-field-206" id="nf-label-field-206" class="">Terms Checkbox <span class="ninja-forms-req-symbol">*</span> </label></div>
                                                        <div class="nf-field-element">
                                                            <ul aria-describedby="nf-error-206">
                                                                <li>
                                                                    <input type="checkbox" id="nf-field-206-0" name="nf-field-206" class="ninja-forms-field nf-element " value="checked" aria-labelledby="nf-label-field-206-0" required="">
                                                                    <label for="nf-field-206-0" id="nf-label-field-206-0" class="">By submitting this form, you accept our <a href="https://lionstudios.cc/terms">Terms&nbsp;&amp;&nbsp;Conditions</a>  *</label>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-206" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-207-container" class="nf-field-container recaptcha-container  label-hidden form-full  textbox-container">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-207-wrap" class="field-wrap recaptcha-wrap textbox-wrap" data-field-id="207">
                                                        <div class="nf-field-label"><label for="nf-field-207" id="nf-label-field-207" class="">Recaptcha  </label></div>
                                                        <div class="nf-field-element">
                                                            <input id="nf-field-207" name="nf-field-207" class="ninja-forms-field nf-element" type="hidden" value="">
                                                            <div class="g-recaptcha" data-callback="nf_recaptcha_response_207" data-theme="light" data-sitekey="6Lf1F38UAAAAAHKjqzxJKXWyL0ws7FUh3EiPi6yd" data-fieldid="207">
                                                                <div style="width: 304px; height: 78px;">
                                                                    @*<div><iframe src="./Game Submissions _ Lion Studios_files/anchor.html" width="304" height="78" role="presentation" name="a-l1uhalrg9bu2" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div>*@
                                                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                                                </div>
                                                                @*<iframe style="display: none;" src="./Game Submissions _ Lion Studios_files/saved_resource(1).html"></iframe>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-207" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                        <nf-field>
                                            <div id="nf-field-208-container" class="nf-field-container submit-container  label-hidden form-full  textbox-container">
                                                <div class="nf-before-field">
                                                    <nf-section>
                                                    </nf-section>
                                                </div>
                                                <div class="nf-field">
                                                    <div id="nf-field-208-wrap" class="field-wrap submit-wrap textbox-wrap" data-field-id="208">
                                                        <div class="nf-field-label"></div>
                                                        <div class="nf-field-element">
                                                            <input id="nf-field-208" class="ninja-forms-field form-button nf-element " type="button" value="Submit">
                                                        </div>
                                                        <div class="nf-error-wrap"></div>
                                                    </div>
                                                </div>
                                                <div class="nf-after-field">
                                                    <nf-section>
                                                        <div class="nf-input-limit"></div>
                                                        <div id="nf-error-208" class="nf-error-wrap nf-error" role="alert"></div>
                                                    </nf-section>
                                                </div>
                                            </div>
                                        </nf-field>
                                    </nf-fields-wrap>
                                </div>
                                <div class="nf-after-form-content">
                                    <nf-section>
                                        <div id="nf-form-errors-18" class="nf-form-errors" role="alert">
                                            <nf-errors></nf-errors>
                                        </div>
                                        <div class="nf-form-hp">
                                            <nf-section>
                                                <label for="nf-field-hp-18" aria-hidden="true">
                                                    If you are a human seeing this field, please leave it empty.
                                                    <input id="nf-field-hp-18" name="nf-field-hp" class="nf-element nf-field-hp" type="text" value="">
                                                </label>
                                            </nf-section>
                                        </div>
                                    </nf-section>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="nf-after-form">
                        <nf-section>
                        </nf-section>
                    </div>
                </div>
            </div>
            <script src="~/Scripts/GameSubmissions.js"></script>
        </div>
    </div>
</div>